<div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="page-header">
            <h1>Register</h1>
        </div>
        <form role="form" class="form" ng-submit="register()">
            <div class="form-group register-form">
                <label>Username</label>
                <input class="form-control" type="text" ng-model="registerForm.username" name="username" id="username" required/>
                <br />
                <label>Password</label>
                <input class="form-control" type="password" ng-model="registerForm.password" name="password" id="password" required/>
                <br />
                <input type="submit" class="btn btn-lg btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>