<div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="page-header">
            <h1>Register</h1>
        </div>
        <form role="form" action="/register" method="post" name="form">
            <div class="form-group register-form">
                <label>Username</label>
                <input class="form-control" type="text" ng-model="user.username" name="username" id="username" />
                <br />
                <label>Password</label>
                <input class="form-control" type="password" ng-model="user.password" name="password" id="password" />
                <br />
                <input type="submit" ng-click="" class="btn btn-lg btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>