#lendit .navbar-inverse .navbar-brand{
  color: #fff;
}

#lendit .navbar-inverse .navbar-nav>li>a{
  color: #fff;
}

#lendit .navbar-inverse, .navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top, #4ED236 0, #79d25d 100%);
  background-image: -o-linear-gradient(top, #4ED236 0, #79d25d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #4ED236 0, #79d25d 100%);
}

#lendit .navbar-inverse {
  background-color: transparent;
  border:0;
}

#lendit .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #000;
}

#lendit .btn-primary {
  background-color: #4ED236;
  border-color: #79d25d;
}

#lendit .btn-primary:hover {
  background-color: #79d25d;
  border-color: #4ED236;
}

#lendit .panel-primary>.panel-heading{
  background-color: #4ED236;
  border-color: #4ED236;
}

#lendit .panel-primary{
  border-color: #79d25d;
}

nav .navbar-brand {
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

#lendit .lobster {
  font-family: 'Lobster', cursive;
}

.green{
  color: #79d25d;
}

#lendit #mainContainer{
  margin-top: 100px;
}

.uploadPreview img{
  width: 200px;
  height: 200px;
  margin-right: 5px;
}

.drop-box{
  width: 300px;
  height: 80px;
  border: 3px dashed #999;
  padding: 25px;
}

.dragover {
  border: 4px dashed #79d25d;
}

.img-thumbnail {
  margin-bottom: 5px;
}

.img-thumbnail:hover {
  border: 4px solid #79d25d;
}

#slides_control > div{
  height: 200px;
}
#slides_control img{
  margin: auto;
  width: 200px;
  height: 200px;
}
#slides_control {
  width: 400px;
  left:50%;
  top:20px;
}
#lendit a.right.carousel-control{
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%);
}

#lendit a.left.carousel-control{
  background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%);
}



